@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap");

.subdiv5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
  font-size: 7vw;
}

.centered {
  text-align: center;
  font-size: 4vw;
}

.copyright {
  text-align: center;
  font-size: 2vw;
}

form {
  padding: 50px;
}

.temp {
  text-align: center;
  font-size: 6vw;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(167, 190, 211);
  color: rgb(84, 84, 84);
  max-width: 85%;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 2.5vw;
  background-color: white;
  background-image: url("/images/magnifying-glass-solid.svg");
  background-size: 3vw;
  background-position: 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

button {
  transition-duration: 0.4s;
  color: rgb(198, 226, 233);
  background-color: rgb(99, 32, 238);
  border: 0px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(247, 206, 91);
  border: 1px;
  border-color: rgb(247, 206, 91);
  color: rgb(84, 84, 84);
}

.cityimg {
  width: 72.4vw;
}

.conditions {
  width: 12vw;
}

.large {
  font-size: 7vw;
  color: rgb(0, 20, 201);
}
